@{
    ViewData["Title"] = "Home Page";
}
@if (!(User.Identity.IsAuthenticated))
{
    <p>❌ Niezalogowany</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<div class="d-flex justify-content-between mt-5 me-5">
    <div style="max-width: 600px; text-align: left;">
        <h2>About Us</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>

    <div style="max-width: 600px; text-align: left;">
        <h2>Our Services</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
</div>
