html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    background-color: #ff5a00;
    border-color: #ff5a00;
}

.btn-primary:hover {
    background-color: #e65300;
    border-color: #cc4800;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-gradient-allegro {
    background-color: #ff5a00;
    background-image: linear-gradient(180deg, #ff5a00 10%, #cc4800 100%);
    background-size: cover;
}
